.nav ol{
    list-style: none;
    width: 100%;
    text-align: center;
}
.nav li{
    display: inline-block;
    margin: 20px;
}

.nav li a{
    text-decoration: none;
    color: black;
    padding: 10px;
}
.nav li a:active,
.nav li a:hover,
.nav li a.active{
    color: gray;
}