.Cockpit button{
    background-color: green;
    color: #fff;
    border: 1px solid gray;
    padding: 10px;
    cursor: pointer;
}

.Cockpit button.red{
    background-color: red;
    color: #fff;
}

.bold{
    font-style: bold;
}
  
.red{
    color : red;
}

.strike{
    text-decoration: line-through;
}